<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
	<div ng-app="app" ng-controller="MainCtrl as main">
		<input ng-model="main.number1"></input>
		<div>
			<user-list number="main.number1" mystyle="top1"></user-list>
		</div>
		<input ng-model="main.number2"></input>
		<div>
			<user-list number="main.number2" mystyle='top2'></user-list>
		</div>
	</div>
</body>
</html>
